{% extends 'base/base.html' %}
{% load static %}
{% block content %} 

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title">
                         <h3>{{main.Main_Title}}</h3>
                         <h2>{{main.Main_Content}}</h2>
                    </div>

                    <div class="col-md-8 col-sm-12">
                         <img src="{{main.image.url}}" class="img-responsive" alt="About">
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <h1>{{main.Title}}</h1>
                         <p>{{main.First_Text}}</p>
                    </div>

                    <div class="clearfix"></div>

                     <hr>

                    <p>{{main.Second_Text}}</p>
                    <hr>
                    {% for subject in subjects %}
                    <div class="col-md-4 col-sm-6">
                         <h3>{{subject.Subject}}</h3>
                         <ul>
                              {% if  subject.text1 %}
                              <li>{{subject.text1}}</li>
                              {% endif %}

                              {% if  subject.text2 %}
                              <li>{{subject.text2}}</li>
                              {% endif %}

                              {% if  subject.text3 %}
                              <li>{{subject.text3}}</li>
                              {% endif %}

                              {% if  subject.text4 %}
                              <li>{{subject.text4}}</li>
                              {% endif %}
                              {% if  subject.text5 %}
                              <li>{{subject.text5}}</li>
                              {% endif %}
                         </ul>
                    </div>
                    {% endfor %}
               </div>

          </div>
     </div>
</section>

{% endblock %}