{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!-- Home Section -->

<section id="home">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h2>{{main_content.main_content}}</h2>
                    <hr>
               </div>

          </div>
     </div>
</section>

<!-- Portfolio Section -->

<section id="portfolio">
     <div class="container">
          <div class="row">
               {% for project in projects %}
               <div class="col-md-4 col-sm-6">
                    <a href="{% url 'home:single-project' project.project_name %}">
                         <div class="portfolio-thumb">
                              <img src="{{project.image1.url}}" class="img-responsive" alt="Portfolio" style="width: 360px;height:240px">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>{{project.project_name}}</h3>
                                             <small>{{project.role}}</small>
                                        </div>
                                   </div>
                         </div>
                    </a>
               </div>
               {% endfor %}
               <div class="col-md-12 col-sm-12 text-center">
                    <h3>hello, if you interest working together. just send message <a href="{% url 'contact:contact' %}">contact page</a></h3>
               </div>

          </div>
     </div>
</section>

{% endblock %}