{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="section-title">
                         <h3>lastest Blogs</h3>
                         <h2>The creative web & mobile studio and focused on brand identity, web development and social marketing.</h2>
                    </div>
                    {% for blog in blogs %}
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="{% url 'blog:single-post' blog.creator_name %}">
                                   <img src="{{blog.image.url}}" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3><a href="{% url 'blog:single-post' blog.creator_name %}">{{blog.title}}</a></h3>
                         </div>
                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{blog.creator_img.url}}" class="img-responsive img-circle">{{blog.creator_name}}</a></span>
                              <span><i class="fa fa-date"></i> {{blog.date}}</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 124 Comments</a></span>
                         </div>
                         <div class="blog-post-des">
                              <p>{{blog.content}}</p>
                              <a href="{% url 'blog:single-post' blog.creator_name %}" class="btn btn-default">Continue Reading</a>
                         </div>
                    </div>
                    {% endfor %}
               </div>

          </div>
     </div>
</section>
{% endblock %}