{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- Blog Single Post Section -->

<section id="blog-single-post">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">
                         <div class="blog-post-image">
                              <img src="{{ blog.image.url }}" class="img-responsive" alt="Blog Image">
                         </div>

                         <div class="blog-post-title">
                              <h2>{{blog.title}}</a></h2>
                         </div>

                         <div class="blog-post-format">
                              <span><a href="#"><img src="{{ blog.creator_img.url }}" class="img-responsive img-circle"> {{blog.creator_name}}</a></span>
                              <span><i class="fa fa-date"></i>{{blog.date}}</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 124 Comments</a></span>
                         </div>

                         <div class="blog-post-des">
                              <p>{{blog.content}}</p>
                              <h3>{{blog.second_title}}</h3>
                              <p>{{blog.second_content}}</p>
                              
                         </div>

                         <div class="blog-author">
                              <div class="media">
                                   <div class="media-object pull-left">
                                        <img src="{{ blog.creator_img.url }}" class="img-circle img-responsive" alt="blog">
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading"><a href="#">{{blog.creator_name}} ({{blog.creator_job}})</a></h3>
                                        <p>{{blog.creator_bio}}</p>
                                   </div>
                              </div>
                         </div>

                         <div class="blog-comment">
                              <h3>All Comments</h3>
                              {% for comment in comments %}
                                   <div class="media">
                                        <div class="media-object pull-left">
                                             <img src="{% static 'images/pngtree-profile-line-black-icon-png-image_691051.jpg' %}" class="img-responsive img-circle" alt="Blog Image">
                                        </div>
                                        <div class="media-body">
                                             <h3 class="media-heading">{{comment.name}}</h3>
                                             <span>{{comment.date}}</span>
                                             <p>{{comment.text}}</p>
                                        </div>
                                   </div>
                              {% endfor %}
                         </div>

                         <div class="blog-comment-form">
                              <h3>Leave a Comment</h3>
                                   <form action="" method="POST">
                                        {% csrf_token %}
                                        <textarea class="form-control" placeholder="Message" rows="5" name="text"></textarea>
                                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                                        <div class="col-md-3 col-sm-4">
                                             <input type="submit" class="form-control" value="Post Your Comment">
                                        </div>
                                   </form>
                         </div>
                    </div>
          </div>
     </div>
</section>
{% endblock %}